@using SmartTimeCVs.Web
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer
<aside id="leftsidebar" class="sidebar">
	<div class="menu">
		<ul class="list">
			<li>
				<div class="user-info">
					<div class="image">
						<a href="profile.html">
							<img src="~/theme/assets/imges/Loading.svg" alt="User">
						</a>
					</div>
					<div class="detail">
						<h4></h4>
						<small></small>
					</div>
					<a href="events.html" title="Events"><i class="zmdi zmdi-calendar"></i></a>
					<a href="mail-inbox.html" title="Inbox"><i class="zmdi zmdi-email"></i></a>
					<a href="contact.html" title="Contact List"><i class="zmdi zmdi-account-box-phone"></i></a>
					<a href="chat.html" title="Chat App"><i class="zmdi zmdi-comments"></i></a>
					<a href="sign-in.html" title="Sign out"><i class="zmdi zmdi-power"></i></a>
				</div>
			</li>
			<li class="open" active-when="Home">
				<a asp-controller="Home" asp-action="Index">
					<i class="material-icons">dashboard</i><span>Dashboard</span>
				</a>
			</li>
			<li active-when="JobApplication, JobApplication-ShortListed, JobApplication-Excluded, JobApplication-Holding">
				<a href="javascript:void(0);" class="menu-toggle">
					<i class="material-icons">description</i><span>CVs</span>
				</a>
				<ul class="ml-menu">
					<li active-when="JobApplication">
						<a asp-controller="JobApplication" asp-action="Index">Job Application</a>
					</li>
					<li active-when="JobApplication-ShortListed">
						<a asp-controller="JobApplication" asp-action="ShortListedIndex">ShortListed</a>
					</li>
					<li active-when="JobApplication-Excluded">
						<a asp-controller="JobApplication" asp-action="ExcludedIndex">Excluded</a>
					</li>
					<li active-when="JobApplication-Holding">
						<a asp-controller="JobApplication" asp-action="HoldingIndex">Holding</a>
					</li>
				</ul>
			</li>
			<li active-when="Interview, Interview-Result, Interview-TestResult, Interview-FinalResult">
				<a href="javascript:void(0);" class="menu-toggle">
					<i class="material-icons">event</i><span>@Localizer["Schedules"]</span>
				</a>
				<ul class="ml-menu">
					<li active-when="Interview">
						<a asp-controller="Interview" asp-action="Index">@Localizer["InterviewAndTestSchedules"]</a>
					</li>
					<li active-when="Interview-Result">
						<a asp-controller="Interview" asp-action="InterviewResults">@Localizer["InterviewResults"]</a>
					</li>
					<li active-when="Interview-TestResult">
						<a asp-controller="Interview" asp-action="TestResults">@Localizer["TestResults"]</a>
					</li>
					<li active-when="Interview-FinalResult">
						<a asp-controller="Interview" asp-action="FinalResults">@Localizer["FinalResults"]</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</aside>