@inject Microsoft.Extensions.Localization.IStringLocalizer<SmartTimeCVs.Web.SharedResource> Localizer
@{
    ViewData["HideSidebars"] = true;
    ViewData["Title"] = Localizer["TheBiography"];
    ViewData["ControllerName"] = "Customer";
    //ViewData["Path"] = "Customer / Index";
    ViewData["Icon"] = "assignment_ind";
}

@section Styles {
    <link rel="stylesheet" href="~/theme/assets/css/plugins/bootstrap-select.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <a href="~/lib/font-awesome/webfonts/fa-solid-900.woff2"></a>
    <link rel="stylesheet" href="~/css/custom/advanced-custom-file-uploader.css" />
    <link rel="stylesheet" href="~/theme/assets/css/plugins/datatables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    <style>
        .disabled-link {
            pointer-events: none;
            opacity: 0.6 !important;
            cursor: not-allowed;
        }
    </style>
}

<div class="card shadow-sm">
    <div class="card-header">
        @if (!string.IsNullOrWhiteSpace(ViewBag.CompanyLogo) && !string.IsNullOrWhiteSpace(ViewBag.HomePageHtml) && !string.IsNullOrWhiteSpace(ViewBag.CompanyName))
        {
            @*             <div class="row mt-2">
                <div class="col-md-3" style="text-align: end;">
                    <div class="form-group">
                        <div class="image">
                            <br><br>
                            <img src="@ViewBag.CompanyLogo" alt="Company Logo" class="mb-2" />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <h4><span id="LblCompName">@ViewBag.CompanyName</span></h4>
                        <br>
                        <span id="LblTxtCompanyHomePageText">
                            @Html.Raw(ViewBag.HomePageHtml)
                        </span>
                    </div>
                </div>
            </div> *@
        }
        else
        {
            @*             <div class="row">
                <div class="col-6"><i class="material-icons breadcrumb theme-main-color align-self-center">@ViewData["Icon"]</i></div>
            </div> *@
        }
    </div>
    <div class="card-body">
        <div class="body table-responsive">
            <div class="row clearfix mb-3">
                @*                 <div class="col-md-6">
                    <h2 class="card-inside-title mb-2">Email <span class="text-danger">*</span></h2>
                    <div class="form-group form-float">
                        <input id="email" type="email" class="form-control" placeholder="Email">
                    </div>
                </div> *@
                <div class="col-md-6 mb-3">
                    <h2><label for="languageSelect" class="card-inside-title mb-2">@Localizer["SelectLanguage"]</label></h2>
                    <form id="langForm" method="post" asp-controller="LanguageSwitcher" asp-action="SetLanguage">
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        @{
                            var currentCulture = Thread.CurrentThread.CurrentUICulture.Name;
                        }
                        <select id="languageSelect" name="culture" class="form-control js-select2" onchange="this.form.submit()">
                            <option value="en-US" selected="@(currentCulture == "en" ? "selected" : null)">English</option>
                            <option value="ar-JO" selected="@(currentCulture == "ar" ? "selected" : null)">العربية</option>
                        </select>
                    </form>
                </div>
                <div class="col-md-6 mt-2" style="text-align: end;">
                    <h2><label for="languageSelect" class="card-inside-title mb-1">@Localizer["StartApplication"]</label></h2>
                    <a id="startBtn" asp-controller="SBiography" asp-action="GetCustomer" asp-route-email=""
                       class="btn btn-lg btn-round btn-primary font-bold waves-effect float-end">@Localizer["Start"]</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $startBtn.attr("href", `/SBiography/GetCustomer?email=${encodeURIComponent(email)}`);

            // $('#email').on('input', function () {
            //     var email = $(this).val().trim();
            //     var $startBtn = $('#startBtn');

            //     if (email.length === 0) {
            //         $startBtn.addClass("disabled-link");
            //         $startBtn.attr("href", "#");
            //     } else {
            //         $startBtn.removeClass("disabled-link");

            //         // Generate the URL using the known pattern
            //         $startBtn.attr("href", `/SBiography/GetCustomer?email=${encodeURIComponent(email)}`);
            //     }
            // });
        });
    </script>
}